:root {
  --Content-Primary: #180A0A;
  --Content-Secondary: #918697;
  --Content-Accent: #525AFF;
  --Background-Primary: #EFEDEE;
  --Background-Primary_hover: #E4E3E1;
  --Background-Secondary: #FFFFFF;
  --Background-Accent: #CECEFF;
  --Background-Accent_hover: #BEBEFF;
  --Background-Accent_pressed: #A6A6FF;
  --Background-Accent_muted: #525AFF;
  --Background-Success: #5AC386;
  --Border-Primary: #180A0A;
  --Border-Secondary: #180A0A;
  --Border-Success: #5AC386;
}